 php_value memory_limit 512M
<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]

    #    RewriteCond %{SCRIPT_FILENAME} !-d
    #    RewriteCond %{SCRIPT_FILENAME} !-f

    #    RewriteRule ^(.*)$ ./index.php?route=$1 [QSA,L]
</IfModule>